.scooters {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  flex-wrap: wrap;
  width: 100%;
}
.scooterscontent {
  position: relative;
  height: fit-content;
}
.featuredInfo {
  height: 250px;
  width: 100%;
  align-content: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.featuredInfo h2 {
  position: absolute;
}
.featuredInfo p {
  position: relative;
  padding-left: 100;
  padding-top: 100px;
}
@media screen and (max-width: 1060px) {
  .header-title {
    font-size: 4rem;
    width: 60%;
  }
}
@media screen and (max-width: 890px) {
  .header-picture {
    width: 50%;
    left: auto;
  }
}
@media screen and (max-width: 740px) {
  .featuredInfo p {
    content: "";
    opacity: 0;
    height: fit-content;
  }
  .featuredInfo h2 {
    content: "";
    opacity: 0;
    height: fit-content;
  }
  .featuredInfo {
    height: fit-content;
  }
}
