.header {
  position: relative;
  width: 1000px;
  justify-content: space-between;
  margin-top: 60px;
}
.header-info {
  display: block;
  margin-left: 50px;
  margin-right: 50px;
  width: 100%;
}
.header-picture {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}
.header-title {
  font-size: 6rem;
  line-height: 5rem;
  letter-spacing: -0.2rem;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 30px;
}
.scooters {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  flex-wrap: wrap;
  width: 100%;
}
.scooterscontent {
  position: relative;
  height: fit-content;
}
.featuredInfo {
  height: 250px;
  width: 100%;
  align-content: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.featuredInfo h2 {
  position: absolute;
}
.featuredInfo p {
  position: relative;
  padding-left: 100;
  padding-top: 100px;
}
